@model IEnumerable<MyShop.Models.ProductModel>

@{
    ViewData["Title"] = "Produktai";
}

<style>
    .card-img-top {
        width: 100%;
        height: 15vw;
        object-fit: cover;
    }
</style>

@if (ViewBag.searchStr != "incorrect")
{
    <div class="container card-group ">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="card text-center" style="width: 18rem;">
                        <img class="card-img-top" src=@item.PictureLink alt="Card image cap">
                        <div class="card-body align-items-sm-center">
                            <h6 class="text-danger"><strong>Naujiena !</strong></h6>
                            <h5 class="card-title">Laikrodis "@item.Title"</h5>
                            <h5 style="padding-bottom: 5px">@string.Format("{0:0.00}", item.Price) €</h5>
                            <a asp-action="Product" asp-controller="StoreProduct" asp-route-id="@item.ID" class="btn btn-outline-dark align-content-center">Detaliau</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
} else
{
    <h2 class="text-center">Ups ! Toks produktas nerastas !</h2>
}
<br />