@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Nėra prieigos";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Jūs neturite įgaliojimų pasiekti šį resursą.</p>
</header>
