@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registracijos patvirtinimas";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            Ši programa kolkas neturi tikro el. pašto patvirtinimo.@*, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.*@
            <a id="confirm-link" href="@Model.EmailConfirmationUrl"> Spauskite čia, kad patvirtintumėte paskyrą.</a>
        </p>
    }
    else
    {
        <p>
            Spauskite čia, kad patvirtintumėte paskyrą. <strong>Kitu atveju neprisijungsite</strong>.
        </p>
    }
}
